:root {
	--tran: all 0.5s ease;
	--white: #ffffff;
	--coral: #F67E7E;
	--midgreen: #014E56;
	--lightgreen: #79C8C7;
	--police: #2C6269;
	--deepjungle: #004047;
	--sacramento: #012F34;
	--darkgreen: #002529;
  }
  